# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
env/

# Database
*.db
*.sqlite3

# Environment Variables
.env

# Logs
*.log
logs/
backend/logs/
out*.txt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Build
dist/
build/
.next/